<footer class="w-full p-4 text-right">
    Angel Hernandez &copy;<span id="currentYear"></span>
    <script>
        const currentYear = document.querySelector("#currentYear");
        currentYear.innerHTML = new Date().getFullYear();
    </script>
</footer>