<header class="w-full py-5 shadow-lg text-center text-4xl font-bold text-gray-900 leading-tight">
    <a href="/" class="no-underline bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-pink-500">
        Arkn37's Collectables
    </a>
</header>